/* font style source */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/* commont part or utilities */
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

/* header part start */
.navigation-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 120px;
  margin-top: 50px;
  margin-right: 120px;
}
.products-title {
  color: #3a3a3a;
}
.products-title h3 {
  font-size: 24px;
  color: #3a3a3a;
  font-weight: 700;
}
.navigation-bar a {
  text-decoration: none;
  color: #3a3a3a;
  font-size: 16px;
  font-weight: 600;
  margin-left: 34px;
}
.navigation-bar .font-awesome {
  margin-left: 34px;
}
/* header part End */

/* front heading part start */
.front-page {
  display: flex;
  height: 500px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 582px;
  height: 270px;
  margin-left: 120px;
  margin-top: 40px;
}
.heading {
  width: 582px;
  height: 270px;
  color: #3a3a3a;
}
.heading h1 {
  font-size: 52px;
  margin-bottom: 0;
}
.heading p {
  font-size: 16px;
  line-height: 24px;
}

.link-button a {
  text-decoration: none;
}
.button-hover {
  width: 196px;
  height: 44px;
  font-size: 20px;
  margin-top: 20px;
  border: none;
  color: white;
  background-color: yellowgreen;
  border-radius: 41px;
  box-shadow: inset 0 0 0 0 #e02c6d;
  transition: ease-out 0.3s;

  outline: none;
}
.button-hover:hover {
  box-shadow: inset 196px 0 0 0 #e02c6d;
}
.front-image {
  background-image: url(images/background.png);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center 20%;
}

/* products collection style start  */

.collection-type-title {
  display: flex;
  text-align: center;
  margin-bottom: 30px;
  justify-content: center;
}
.collection-type-title h2 {
  font-size: 28px;
  color: #3a3a3a;
}

.products-collection {
  width: 1047px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  margin-left: 240px;
}
.gears {
  width: 329px;
  height: 438px;
  border: 2px solid lightgrey;
  border-radius: 2px;
}
.thumbnail-1 {
  text-align: center;
  margin-top: 17px;
}
.gear-details {
  margin-left: 14px;
}
.product h3 {
  font-size: 28px;
  color: #18191f;
  font-weight: 550;
  margin-top: 6px;
  margin-bottom: 1px;
}
.filled-colour {
  color: #fb8200;
  font-size: 12px;
}
.product span {
  font-size: 20px;
  margin-bottom: 0;
  margin-top: 5px;
}
.gear-rating-1 {
  margin-top: 5px;
  font-size: 14px;
}
p {
  font-size: 14px;
  color: #787885;
  font-weight: 700;
  margin-top: 0;
}

/* products collection style End  */

/* see more button start*/
.next-button {
  display: flex;
  justify-content: flex-end;
  margin-right: 225px;
  margin-top: 40px;
}
.next-button a {
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  color: yellowgreen;
}
/* see more button end*/

/* contuct with us section start */
.getting-info {
  display: flex;
  justify-content: center;

  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}

.git-touch-bar {
  display: flex;
  flex-direction: column;
}
.feedback {
  margin-left: 50px;
}
.input-information {
  width: 500px;
}
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: yellowgreen;
  color: white;
  padding: 12px 170px;
  border: none;
  border-radius: 4px;
  box-shadow: inset 0 0 0 0 #e02c6d;
  transition: ease-out 0.3s;
}
input[type="submit"]:hover {
  box-shadow: inset 500px 0 0 0 #e02c6d;
}
/* contuct with us section end */

/* footer start  */
footer {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 220px;
  background-color: rgb(2, 2, 41);
}

footer > div h3 {
  font-size: 24px;
  color: white;
  padding-top: 20px;
  margin-bottom: 5px;
}
footer p {
  color: #d9dbe1;
}
.logo-colour {
  color: white;
  width: 32px;
  height: 32px;
}
.feedback {
  text-align: center;
}
.input-information {
  width: 50%;
  margin: auto;
}
.input-information input {
  text-align: center;
}
.input-information label {
  width: 80%;
  text-align: start;
}
/* footer End  */

/* ------------------------- 
Media Queries ---------------------------------------*/

/* mobile devices */
@media only screen and (max-width: 688px) {
  .navigation-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 120px;
    margin-top: 50px;
    margin-right: 120px;
  }
  .products-title {
    color: #3a3a3a;
  }
  .products-title h3 {
    font-size: 24px;
    color: #3a3a3a;
    font-weight: 700;
  }
  .front-image {
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center 90%;
  }
  .navigation-bar a {
    display: none;
  }
  .navigation-bar i {
    display: none;
  }
  .navigation-bar .font-awesome {
    margin-left: 34px;
  }
  .front-page {
    width: 100%;
    display: block;
    height: 500px;
  }
  .container {
    width: 100% !important;
    text-align: center;
  }
  .heading {
    width: 582px;
    height: 270px;
    color: #3a3a3a;
  }
  .heading h1 {
    font-size: 40px;
    margin-bottom: 0;
  }
  .heading p {
    font-size: 16px;
    line-height: 24px;
  }

  .link-button a {
    text-decoration: none;
  }
  .front-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
  .heading h1 {
    font-size: 30px;
  }
  .front-image img {
    margin-top: 50px;
    width: 80%;
  }
  .products-collection {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    margin-left: 80px;
  }
  .gears {
    align-items: center;
    justify-content: center;
    border: 2px solid lightgrey;
    border-radius: 2px;
  }
  .thumbnail-1 {
    text-align: center;
    margin-top: 17px;
  }
  .gear-details {
    text-align: center;
    margin-left: 0px;
  }
  .product h3 {
    font-size: 20px;
    color: #18191f;
    font-weight: 550;
    margin-top: 6px;
    margin-bottom: 1px;
  }
  .filled-colour {
    color: #fb8200;
    font-size: 12px;
  }
  .product span {
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 5px;
  }
  .gear-rating-1 {
    margin-top: 5px;
    font-size: 14px;
  }
  p {
    font-size: 14px;
    color: #787885;
    font-weight: 700;
    margin-top: 0;
  }
  .feedback {
    text-align: center;
  }
  .input-information {
    width: 80%;
  }
  .input-information input {
    text-align: center;
  }
  .input-information label {
    width: 80%;
    text-align: start;
  }
  .collection-type-title {
    display: flex;
    text-align: center;
    margin-bottom: 30px;
    justify-content: center;
    margin-top: 50px;
  }
}

@media only screen and (min-width: 688px) and (max-width: 992px) {
  .products-collection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    /* grid-column-gap: 10px;
    grid-row-gap: 10px; */
    margin: auto;
  }
  .gears {
    align-items: center;
    justify-content: center;
    border: 2px solid lightgrey;
    border-radius: 2px;
  }
  .thumbnail-1 {
    text-align: center;
    margin-top: 17px;
  }
  .gear-details {
    text-align: center;
    margin-left: 0px;
  }
  .product h3 {
    font-size: 20px;
    color: #18191f;
    font-weight: 550;
    margin-top: 6px;
    margin-bottom: 1px;
  }
  .filled-colour {
    color: #fb8200;
    font-size: 12px;
  }
  .product span {
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 5px;
  }
  .gear-rating-1 {
    margin-top: 5px;
    font-size: 14px;
  }
  p {
    font-size: 14px;
    color: #787885;
    font-weight: 700;
    margin-top: 0;
  }
}
